/* main style perem start */
$bodyBackground: #ccc;
$minWidth1100:  1100px;
$minWidthMiddleLg: 1024px;
$minWidthinMainLg: 1020px;
$minWidthMd: 768px;
$backgroundContainer: #F8F8F8;
$borderBottomNav: #D9FFF5;
$backgrounColorW: #fff;
$regularFonts: "TT Lakes Regular", Arial, sans-serif;
$mainFonts: "TT Lakes", Arial, sans-serif;
$mediumFonts: "TT Lakes Medium", Arial, sans-serif;
$whiteColor: #fff;
$darkColor: #1B1C21;
$linkColor: #7E7E82;
$focusBorderColor: #000;
$linkColorBorder: #B8FFEC;
$borderColorEff: #cbcbcb;
$activeColorG: #0acb00;
$boxShadowActive: 0 0 10px rgb(4, 192, 0);
$btnColor: #ff0000;
$btnshadow: 0 0 10px rgba(255, 0, 0, 0.5);
$btnImageShadow: 0 0 10px rgba(0, 0, 0, 0.3);
$swiperPaginatinBg: #B5B6BC;
$swiperBulletColor: #b6b2b2;
$swiperH3Gradient: linear-gradient(120deg, #f8f8f8 0%, #FFFFFF 98.61%);
$swiperButtonBg: #fff;
$swiperBtnBorder: #EAEAEA;
$swiperHoveShadow: #a4a4a4;
$swiperPrice: #FF3E79;
/* main style perem end */

body, button, nav, article, ul {
    all: unset;
}
.body{
    background: $bodyBackground;
    overflow-x: hidden;

    @media (min-width: $minWidthinMainLg){
            display: flex;
    }
}
.container{
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    max-width: 1120px;
    min-width: 320px;
    background-color: $backgroundContainer;

    @media (min-width: $minWidthinMainLg){
            margin: 0 auto 0 0;
    }
}
.blure-off{
    opacity: 1; 
    transition-delay: 200ms;
}
.blure-on{
    opacity: 0.2;
    filter: blur(5px);
    transition-delay: 200ms;
}
h1{
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-family: $mainFonts !important;
    font-weight: bold;
    color: $darkColor;
}
/* header nav */
.header{
    display: flex;
    width: 100%;
    flex-direction: column;

    @media (min-width: $minWidthinMainLg){
        flex-direction: row;
    }

    &__nav {
        padding: 19px 16px;
        border-bottom: 2px solid $borderBottomNav;

        @media (min-width: $minWidthMd){
            padding: 24px;
        }

        @media (min-width: $minWidthinMainLg){
            flex: 0 0 50%;
            order: 1;
            justify-content: flex-end !important;
            border: none;
            padding: 42px 34px 10px;
            background-color: $backgroundContainer !important;
        }
    }

    &__h1{
        padding: 24px 20px;
        cursor: default;
        
        &:before{
            content: "";
            background-image: url(../img/header-nav/highlight.svg);
            position: absolute;
            left: 0;
            height: 40px;
            width: 4px;
        }

        @media (min-width: $minWidthMd){
            padding: 24px;
        }

        @media (min-width: $minWidthinMainLg){
            flex: 0 1 50%;
            padding: 34px 34px 10px;
            margin-top: 0;
        }
    }
}

.nav{
    display: flex;
    max-height: 88px;
    background: $backgrounColorW;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    &__mobile-menu {
        margin-right: 17px;

        @media (min-width: $minWidthMd){
            display: flex;
            margin-right: 0;
            max-height: 40px;
        }

        @media (min-width: $minWidthinMainLg){
            display: none;
        }
    }

    &__logo{
        margin-right: auto;

        @media (min-width: $minWidthinMainLg){
            display: none;
        }
    }
}

.button-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-duration: 1s;
}

.info{
    display: flex;

    &__send-check{
        display: flex;
    }

    &__check-request{
        margin-left: 16px;

        .info-button{
            &:hover{
                img{
                    transform: scale(1.1);
                    transition-duration: 1s;
                }
            }
            @media (min-width: $minWidthinMainLg){
    
                 &:before{
                        content: "Статус ремонта";
                        align-self: center;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: -0.2px;
                        font-family: $mediumFonts;
                        margin-right: 8px; 
                }               
            }
        }
    }

    &__contacts--hidden-mobile{
        display: none;

        @media (min-width: $minWidthMd){
            display: block;
        }
    }

    &__send-request{
        &:hover{
            .button-img{
                transform: rotate(180deg);
                transition-duration: 1s;
            }
        }
        
        @media (min-width: $minWidthinMainLg){
                .info-button {

                    &:before{
                        content: "Оставить заявку";
                        align-self: center;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: -0.2px;
                        font-family: $mediumFonts;
                        margin-right: 8px; 
                    }
                }  
        }
    }

    &__contacts{
        @media (min-width: $minWidthMd){
                display: flex;
        }

        &--hidden-desck{
            @media (min-width: $minWidthinMainLg){
                    display: none;
            }
        }
    }
    
    &__users-item{
        @media (min-width: $minWidthMd){

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

.divider{
    background-image: url("../img/header-nav/divider.svg");
    width: 2px;
    height: 28px;
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;

    @media (min-width: $minWidthinMainLg){
            display: none;
    }
}

h1{
    height: 40px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-family: $mainFonts;
    font-weight: bold;
    color: $darkColor;
}

/* main */

.main{
    &__order-list {
        list-style: none;
        padding: 0 16px;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;

        &:-webkit-scrollbar { 
            width: 0px;
            height: 0px;
        }

        &--item-link{
            height: 24px;
            font-family: $regularFonts;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $linkColor;
            padding: 8px 16px;
            white-space: nowrap;
            text-decoration: none;

            &:focus{
                outline: none;
                border: 2px solid $focusBorderColor;
                border-radius: 6px;
                padding: 6px 14px;
            }
            &:active{
                border: 2px solid $linkColorBorder;
                background: $backgrounColorW;
                border-radius: 6px;
                padding: 6px 14px;
            }
            &:hover{
                border: 2px solid $linkColorBorder;
                background: $backgrounColorW;
                border-radius: 6px;
                padding: 6px 14px;
            }
        }
        
        @media (min-width: $minWidthinMainLg){
            overflow: hidden;
            padding: 0 34px !important;
            flex-wrap: wrap;
        }
    }

    &__order-list-item{
        align-items: center;
        display: flex;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &--hidden-mobile{
            display: none;
        }

        @media (min-width: $minWidthinMainLg){
            //padding-bottom: 10px;
        }
    }

    &__article{
        @media (min-width: $minWidthinMainLg){
                padding: 0 34px !important;
        }
    }
}

.content{
    display: flex;
    flex-direction: column;

    &__description{
        @media (min-width: $minWidthMd){
            flex: 0 0 45%;
            max-width: 312px;
        }
        @media (min-width:$minWidthinMainLg){
            max-width: 490px;
        }
    }
    &__image{
        @media (min-width: $minWidthMd){
            flex: 0 0 55%;
            text-align: right;
        }
    }
    &__description-item{ 
        height: 100px;
        min-height: 100px;   
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0 16px;
        font-family: $regularFonts;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: $darkColor;
        @media (min-width: $minWidthMd){
            padding: 0;
            line-height: 20px;
            height: 165px;
            cursor: default;
        }
        @media (min-width:$minWidthinMainLg){
                overflow: hidden;
                display: flex;
                flex-direction: column;
        }
    }

    &__read-more{
        position: relative;
        display: inline-block;
        padding: 10px 48px 0 48px;
        height: 24px;
        font-family: $mediumFonts;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $darkColor;
        text-decoration: none;

        &:before{
            content: "";
            background-image: url(../img/main/icon.svg);
            position: absolute;
            left: 25px;
            top: 17px;
            height: 10px;
            width: 7px;
            background-size: cover;
            transition-duration: 1s;

            @media (min-width: $minWidthMd){
                top: 17px;
                left: 11px;
            }
        }

        &--rotate{
            &:before{
                transform: rotate(180deg);
                transition-duration: 1s;
            }
        }

        @media (min-width: $minWidthMd){
            padding: 10px 34px 0 34px;
        }

        &:hover{
            @media (min-width:$minWidthinMainLg){
                text-decoration: underline;
            }
        }
    }

    &__image-item {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 100%;
        height: auto;
        transition-duration: 1s;

        &:hover{
            box-shadow: 0 0 10px 5px $borderColorEff;
            transition-duration: 1s;
        }

        @media (min-width: $minWidthMd){
            border-radius: 6px;
            max-width: 360px;
            max-height: 260px;
        }
        @media (min-width:$minWidthinMainLg){
            height: 383px;
            max-width: 531px;
            max-height: 383px;
            margin-top: 0;
            cursor: pointer;
        }
    }

    @media (min-width: $minWidthMd){
                display: flex;
                flex-direction: row;
    }
}
.container-menu.navigation{
    &__index{
        display: none;

    @media (min-width: $minWidthinMainLg){
                display: block;
                margin: 0 0 0 auto; 
        }
    }
}
.container-menu{
    &__list-link{
        &:hover {
            opacity: 0.5;
        }
    }
}
/*read more start*/
.read-text{
    animation-name: read-animate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.no-read-text{
    animation-name: no-read-animate;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes read-animate {
    0%{
        height: 85px;
    }
    100%{
        height: 245px;
    }
}
@keyframes no-read-animate {
    0%{
        height: 245px;
    }
    100%{
        height: 85px;
        min-height: 75px;
    }
}
/*read more end*/

/* main aside*/
.mobile-menu{
    &--hidden-mobile{
        display: none;

        @media (min-width: $minWidthMd){
                display: block;
            }
    }

    &__button{
        &:active {
            .button-img{
                opacity: 0.8;
                background: $activeColorG;
                border-radius: 50%;
                box-shadow: $boxShadowActive;
                outline: none;
            }

            &:focus {
                    .button-img{
                        opacity: 0.8;
                        background: $btnColor;
                        border-radius: 50%;
                        box-shadow: $btnshadow;
                        outline: none;
                        transition-duration: 1s;
                    }
            }
        }
    }

}

.logo{
    &__img{
        &:active{
            cursor: pointer;
        }
        &:hover{
            cursor: pointer;
        }
    }
}

.info-button{
    &:active{
        .button-img{
            opacity: 0.8;
            background: #0acb00;
            border-radius: 50%;
            box-shadow: 0 0 10px rgb(4, 192, 0);
            outline: none;
        }
    }
    &:focus{
        .button-img{
            opacity: 0.8;
            background: #ff0000;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
            outline: none;
            transition-duration: 1s;
        }
    }

    &:hover{
        img{
            transform: scale(1.1);
            transition-duration: 1s;
        }
    }

    @media (min-width: $minWidthinMainLg){
        display: flex;
        cursor: pointer;

        &:hover{
            img {
                opacity: 0.8;
                background: $btnColor;
                border-radius: 50%;
                box-shadow: $btnImageShadow;
                outline: none;
            }
        }
    }

    &:hover{
                .button-img{
                    opacity: 0.8;
                    background: $btnColor;
                    border-radius: 50%;
                    box-shadow: $btnImageShadow;
                    outline: none;
                }
            }
}

/* swiper */
.swiper.main__swiper .swiper-container, .swiper-container .swiper-wrapper {
    width: unset;
  }
.swiper.main__swiper:last-child{
    border-bottom: 2px solid $borderBottomNav;
  }
.swiper-slide{
    position: relative;
    width: 100%;
    height: 100% !important;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;

    &__item {
        text-align: center;
        font-size: 18px;
        width: 240px;
        max-width: 240px;
        height: 72px;
        margin-right: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack:  flex-start;
        -ms-flex-pack:  flex-start;
        -webkit-justify-content:  flex-start;
        justify-content:  flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        @media (min-width: $minWidthMd){
            margin: 0 0 16px 24px;
            max-width: 224px;
        }
        @media (min-width: $minWidth1100){
            margin: 0 0 16px 32px;
            max-width: 240px;
        }
    }
  
}

.swiper-wrapper{
    height: auto;
    padding-left: 16px;

    @media (min-width: $minWidthMd){
            padding: 0;

            .swiper-slide.swiper-slide{
                &__item {
                    width: auto;
                    height: auto !important;
                }
            }
        }

  }
  
.swiper-wrapper.swiper-wrapper{
    @media (min-width:768px){
        &__builder{
            height: 177px;
        }
    }
}
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: $swiperPaginatinBg;
}

span.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: $swiperBulletColor;
}

/* swiper h3 */
.main{
    &__swiper{
        border-top: 2px solid $borderBottomNav;
        margin-bottom: 30px;
        @media (min-width: $minWidthMd){
                padding: 0;
        }
    }
    
    &__order-list{
        &--hidden-middle{
                display: none;
            @media (min-width: $minWidthMd){
                display: flex;
            }
        }
    }

    @media (min-width: $minWidthMd){
            &__order-list{
                padding: 0 24px;
            }
            &__article{
                padding: 0 24px;
                justify-content: space-between;
            }
        }

}

.swiper{
    &__block-h3{
        margin-bottom: 24px;
        padding: 16px;
        background: $swiperH3Gradient;

        @media (min-width: $minWidthinMainLg){
            padding: 16px 32px;
        }
    }

    &__h3{
        font-family: $regularFonts;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: $linkColor;
        margin: 0;
        background: $swiperH3Gradient;
        cursor: default;

        /*@media (min-width: $minWidthMd){
            padding: 16px 24px;
        }*/
    }

    &__price-mod{
        .swiper{
            &__price-mod{
                &--grey-text{
                    display: block;
                    width: 100%;
                    text-align: left;
                }
            }
        }
        &--grey-text{
            font-size: 14px;
            font-family: $regularFonts;
            text-align: left;
            margin-bottom: 4px;
            line-height: 16px;
            color: $linkColor;
            opacity: 0.72;
        }
        &--black-text{
            font-size: 14px;
            font-family: $regularFonts;
            text-align: left;
            margin-bottom: 4px;
        }
        &--m-top{
            margin-top: 14px;
        }
    }
    @media (min-width: $minWidthinMainLg){
        padding: 0;
    }
}

.swiper-button{
    width: 240px;
    background: $swiperButtonBg;
    border: 1px solid $swiperBtnBorder;
    box-sizing: border-box;
    border-radius: 6px;
    justify-content: space-between;
    display: flex;
    padding: 8px 16px;
    cursor: pointer;
    transition-duration: 1s;

    &__brand{
        object-fit: contain;
        transition-duration: 1s;
    }
    &__dropdown {
        padding: 8px 0;
        transition-duration: 1s;
    }

    &:hover{
        box-shadow: 8px 8px 8px 1px $swiperHoveShadow;
        transition-duration: 1s;

        .swiper-button__brand{
            transform: scale(0.9);
            filter: opacity(0.8);
        }

        .swiper-button__dropdown {
            transform: rotate(90deg);
        }
    }

    &--tech{
        position: relative;
        height: 160px;

        span{
            position: absolute;
            left: 16px;
            top: 16px;
            font-family: $regularFonts;
        }
    
    }

    &--price{
        background: $swiperPrice;
        width: 119px;
        height: 32px;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        border-radius: 16px;
        color: $whiteColor;
        cursor: pointer;
        position: absolute;
        bottom: 16px;
        right: 16px;
        align-self: flex-end;
        transition-duration: 1s;
    }

    @media (min-width: $minWidth1100){
            width: 240px;
    }
}

.swiper-pagination.swiper-pagination-bullets{
    margin-top: 20px;
    position: relative;
}
img{
    .swiper-button{
        &__brand {
            object-fit: contain;
            transition-duration: 1s;
        }
    }
}
.swiper-container{
    &__button{
    display: none;

        @media (min-width: $minWidthMd){
            height: 24px;
            font-family: $mainFonts;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $darkColor;
            margin-left: 50px;
            display: block;
            cursor: pointer;
            position: relative;
            margin-top: 5px;

            &:before{
                content: "";
                background-image: url(../img/main/icon.svg);
                position: absolute;
                background-size: cover;
                height: 10px;
                width: 7px;
                top: 9px;
                margin-left: -17px;
                transition-duration: 1s;
            }

            &--vector{
                &:before{
                    content: "";
                    background-image: url(../img/main/icon.svg);
                    transform: rotate(180deg);
                    transition-duration: 1s;
                }
            }
        }
    }
    @media (min-width: $minWidthMd){
        .swiper-wrapper{
            position: relative;
            flex-wrap: wrap;
        }
    }

    &__container{
        &__el{
            @media (min-width: $minWidthMiddleLg){
                max-height: 270px;
            }
        }
    }
}
/* work swiper */

.technic-img{
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 0;
}

/* price swiper */
.swiper-slide.swiper-slide__item.swiper{
    &__price-mod{
        width: 240px;
        margin-right: 16px;
        flex-wrap: wrap;
        height: 200px;
        background: $backgrounColorW;
        padding: 16px;
        border: 1px solid $swiperBtnBorder;
        border-radius: 6px;
        box-sizing: border-box;

        @media (min-width: $minWidthMd){
            &__price-mod {
                display: none;
            }
        }
    }
}

button.swiper-button{
    &--price{
        span{
            display: flex;
            align-items: center;
        }
    }
}
.price-img{
    right: 16px;
    bottom: 16px;
    padding: 0;
}

.table.table{
    &__price-swiper{
        display: none;

        @media (min-width: $minWidthMd){
            display: block;
            
        }
    }  
}

.table{
    @media (min-width: $minWidthMd){
        &__price-swiper{
            width: 100%;
            padding: 0 32px;
            box-sizing: border-box;
        }
    }
}
.swiper-price{
    &__offer{
        display: block;
        max-width: 420px;
        padding: 0 24px;
        margin-bottom: 50px;
        font-family: $regularFonts;

        @media (min-width: $minWidthMd){
            margin-top: 20px;
            padding: 0px 32px;
        }
    }
    @media (min-width: $minWidthinMainLg){
        display: block;;
        height: 390px;
    }
}
.offer{
    &__text{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $darkColor;
        cursor: default;
    }
    &__link{
        display: inline-block;
        margin-top: 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $darkColor;
        font-weight: 600;
        position: relative;
        text-decoration: none;

        &:hover{
            .offer{
                &__img{
                    transform: rotate(180deg);
                    transition-duration: 1s;
                }
            }
        }
    }
    &__img{
        margin-left: 10px;
        transition-duration: 1s;
    }
}

.footer{
    &__text{
        font-family: $regularFonts;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: $linkColor;
        opacity: 0.72;
        padding-bottom: 16px;
        cursor: default;
    }
    @media (min-width: $minWidthMd){
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}

.show-content{
    @media (min-width: $minWidthMd){
        &:active{
            text-decoration: underline;
        }
        &:focus{
            text-decoration: underline;
        }
    }
}

.swiper-container.swiper-price.swiper-container{
    @media (min-width: $minWidthMd){
        &__el{
            display: none;
        }
    }
}

.mode{
    &--left{
        @media (min-width: $minWidthMd){
            text-align: left;
            padding-left: 32px;
        }
    }
    &--right{
        @media (min-width: $minWidthMd){
            text-align: right;
            padding-right: 32px;
        }
    }
}
/* media 768 */
@media (min-width: $minWidthMd){
        /* brand-animate start*/
        .show-brand-animate{
            animation-name: show-block;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
        .hidden-brand-animate{
            animation-name: hidden-block;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }
        @keyframes show-block{
            0%{
                height: 180px;
                margin-top: 0; 
            }
            100%{
                height: 350px;
                margin-top: 0;
            }
        }
        @keyframes hidden-block{
            0%{
                height: 350px;
                margin-top: 0; 
            }
            100%{
                height: 180px;
            }
        }
        /* brand-animate end */
        /* technical-animate start */
    .show-technical-animate{
        animation-name: show-block-tech;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
    .hidden-technical-animate{
        animation-name: hidden-block-tech;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
    @keyframes show-block-tech{
        0%{
            height: 176px;
            margin-top: 0; 
        }
        100%{
            height: 535px;
            margin-top: 0;
        }
    }
    @keyframes hidden-block-tech{
        0%{
            height: 535px;
            margin-top: 0; 
        }
        100%{
            height: 176px;
        }
    }
    /* technical-animate end */

    .table-header{
        grid-template-columns: 45% 15% 15% 25%;
        display: grid;
        font-size: 14px;
        font-family: $regularFonts;
        line-height: 16px;
        color: $linkColor;
        opacity: 0.72;
        height: 50px;
        align-items: center;
        padding: 0 16px;
        cursor: default;
    }
    .table-content {
        background: $backgrounColorW;
        border-radius: 6px;
    }
    .table-items{
        height: 64px;
        grid-template-columns: 45% 15% 15% 25%;
        display: grid;
        font-size: 14px;
        line-height: 18px;
        opacity: 0.72;
        padding: 0 16px;
        letter-spacing: 0.2px;
        color: $linkColor;
        position: relative;
        align-items: center;
        cursor: default;
    }
    .table-content{
        &__tr{
            background: $swiperBtnBorder;
            height: 1px;
            margin: 0 2%;
        }
    }
    .table-items{
        &__items{
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: $linkColor;
            font-family: $regularFonts;
        }
    }
    .table-button{
        width: 119px !important;
        align-items: center;
    }
}


/* media 1020*/
@media (min-width: $minWidthinMainLg){

 /* brand-animate start */
    @keyframes show-block{
        0%{
            height: 180px;
            margin-top: 0; 
        }
        100%{
            height: 270px;
            margin-top: 0;
        }
    }
    @keyframes hidden-block{
        0%{
            height: 270px;
            margin-top: 0; 
        }
        100%{
            height: 180px;
        }
    }
 /* brand-animate end */

/* technical-animate start */
     .show-technical-animate{
        animation-name: show-block-tech;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
    .hidden-technical-animate{
        animation-name: hidden-block-tech;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
    @keyframes show-block-tech{
        0%{
            height: 176px;
            margin-top: 0; 
        }
        100%{
            height: 350px;
            margin-top: 0;
        }
    }
    @keyframes hidden-block-tech{
        0%{
            height: 350px;
            margin-top: 0; 
        }
        100%{
            height: 176px;
        }
    }
    /* technical-animate end */
        
    /* animate read text */

        @keyframes read-animate {
            0%{
                height: 75px;
            }
            100%{
                height: 185px;
            }
        }
        @keyframes no-read-animate {
            0%{
                height: 185px;
            }
            100%{
                height: 75px;
                min-height: 75px;
            }
        }

    .show{
        display: flex;
        align-items: center;
    }
}
