//main menu perem start
$menuBgColor: #fff;
$menuWidth: 320px;
$menuMinWidth: 320px;
$mobileMenuShadow:  16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
$minwidthBefore667: 667px;
$heightFullScreen: 100vh;
$containerListLink: #1B1C21;
$containerListLinkActFoc: #7E7E82;
$phoneEmailAct: #0acb00;
$phoneEmailFoc: #451c1ceb;
$phoneEmailHov: #b84444;
$langIteemColor: #ff0000;
$fontFamilymain: "TT Lakes Regular", Arial, sans-serif;
//main menu perem end

body, button, nav, article, ul {
  all: unset;
}
.navigation{
  &__index{
    width: $menuWidth;
    min-width: $menuMinWidth;
    background: $menuBgColor;
    height: auto;
    justify-content: flex-start;
  }
  &__mobile{
    width: $menuWidth;
    min-width: $menuMinWidth;
    box-shadow: $mobileMenuShadow;
    position: fixed;
    top: 0;
    z-index: 1;
    background: $menuBgColor;
  }

@media (min-height: $minwidthBefore667){
  &__mobile{
      height: $heightFullScreen;
  }
  }
}
.container-menu{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  
  &__footer-index{
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    padding: 0 24px;
  }
  
  &__lang {
    margin: 8px 0;
    &--index{
      margin: 40px 0 0 0;
    }
  }
  
  &__wrapper-top{
  padding-top: 24px;
  }
  
  &__header{
    display: flex;
    padding: 0 24px;
    box-sizing: border-box;
    align-items: center;
  }
  
  &__list{
    display: flex;
    flex-direction: column;
  }
  
  &__navigation{
    margin-top: 20px;
  }
  
  &__list-item{
    position: relative;
    list-style: none;
  }
  //отсюда смотрим

  &__list-link{
    display: block;
    padding: 12px 32px;
    font-size: 16px;
    line-height: 24px;
    max-height: 24px;
    text-decoration: none;
    color: $containerListLink;
    cursor: pointer;
    align-items: center;
    font-family: $fontFamilymain;

    &:active{
      font-size: 16px;
      line-height: 24px;
      max-height: 24px;
      text-decoration: none;
      color: $containerListLinkActFoc;
      cursor: pointer;
      align-items: center;
      font-family: $fontFamilymain;

          &:before{
            content: "";
            background-image: url(../img/header-nav/highlight_mobile.svg);
            position: absolute;
            top: 10px;
            left: 0;
            height: 32px;
            width: 4px;
          }
    } 

    &:focus{
      font-size: 16px;
      line-height: 24px;
      max-height: 24px;
      text-decoration: none;
      color: $containerListLinkActFoc;
      cursor: pointer;
      align-items: center;
      font-family: $fontFamilymain;

            &:before{
              content: "";
              background-image: url(../img/header-nav/highlight_mobile.svg);
              position: absolute;
              top: 10px;
              left: 0;
              height: 32px;
              width: 4px;
            }
      } 

      &:hover{
            &:before{
              content: "";
              background-image: url(../img/header-nav/highlight_mobile.svg);
              position: absolute;
              top: 10px;
              left: 0;
              height: 32px;
              width: 4px;
            }
      }
  }

  &__footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    padding: 0 24px;
  }

  &__email{
    font-size: 16px;
    color: $containerListLink;
    line-height: 24px;
    text-decoration: none;
    font-family: $fontFamilymain;

    &__wrapper{
      margin-top: 16px;
      margin-right: 16px;
    }
    &:active{
      opacity: 0.8;
      color: $phoneEmailAct;
    }
    &:focus{
      opacity: 0.8;
      color: $phoneEmailFoc;
    }
    &:hover{
      opacity: 0.8;
      color: $phoneEmailHov;
    }
  }

  &__phone{
    font-size: 24px;
    color: $containerListLink;
    line-height: 32px;
    text-decoration: none;
    height: 32px;
    font-weight: bold;
    font-family: $fontFamilymain;
    &__wrapper{
      margin-top: 12px;
    }
    &:active{
      opacity: 0.8;
      color: $phoneEmailAct;
    }
    &:focus{
      opacity: 0.8;
      color: $phoneEmailFoc;
    }
    &:hover{
      opacity: 0.8;
      color: $phoneEmailHov;
    }
  }

  &__footer-top-email{
    margin-top: 16px;
  }
  
  &__lang-item {
    color: $langIteemColor;
    font-size: 16px;
    color: $containerListLink;
    line-height: 32px;
    height: 24px;
    font-weight: bold;
    padding-right: 7px;
    cursor: pointer;
    font-family: $fontFamilymain;
    &:active{
      color: $containerListLinkActFoc;
      text-shadow: 0px 0px 1px;
    }
    &:focus{
      color: $containerListLinkActFoc;
      text-shadow: 0px 0px 1px;
    }
    &:hover{
      opacity: 0.8;
      color: $containerListLinkActFoc;
    }
  }
}
.email{
  &__wrapper {
  margin-top: 16px;
  margin-right: 16px;
  }
}
.phone{
  &__wrapper {
  margin-top: 16px;
  margin-right: 16px;
  }
}
.container-menu_logo{
  flex-grow: 1;
}

.show-mobile-menu{
  animation-name: mobile-menu-show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  height: $heightFullScreen;
  overflow: auto;
}

.hidden-mobile-menu{
  animation-name: mobile-menu-hidden;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes mobile-menu-show {
  0%{
      transform: translateX(-125vw);
  }
  100%{
      transform: translateX(0vw);
  }
}
@keyframes mobile-menu-hidden {
  0%{
      transform: translateX(0vw);
  }
  100%{
      transform: translateX(-125vw);
  }
}

.info-button{
  cursor: pointer;
  &--close{
    margin-right: 17px;
  }
  &--close:hover img{
    transform: rotate(360deg);
    transition-duration: 1s;
  }
  &--search:hover img{
    transform: scale(1.1);
    transition-duration: 1s;
  }
}

.contacts{
  &__button{
    margin-right: 16px;
      &:hover img {
        transform: scale(1.1);
        transition-duration: 1s;
      }
    }
}